tr:hover {
    background-color: #f1f7ff;
    cursor: pointer;
}

table {
    border-radius: 8px;
    overflow: hidden;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

